body {
    font-family: 'Satisfy', cursive;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    color: white;
    text-align: center;
}

#d1 {
    width: 100%;
    background-color:darkslateblue;
    border-radius:40px;
}

Canvas {
    border-radius:40px;
    border:10px black solid;
}

/*https://teachablemachine.withgoogle.com/models/KUVH6HWvV/*/